<!doctype html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <title>{{bucket_name}}/{{path}}</title>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>{{bucket_name}}/{{path}}</h1>
      </div>

      <table class="table table-striped">
        <thead>
          <tr><th>Name</th></tr>
        </thead>
        <tbody>
          {{#items}}
            <tr><td>
              <a href="{{path}}">{{name}}</a>
            </td></tr>
          {{/items}}
        </tbody>
      </table>
    </div>
  </body>
</html>
